img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.tweet {
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.22), 0 1px 2px rgba(0, 0, 0, 0.34);
    padding: 15px 15px 0 15px;
    border-radius: 3px;
}

.tweet-header {
    margin-bottom: 10px;
    display: flex;
}

.tweet-header svg {
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
}

.name {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.name h6,
.name h5 {
    margin: 0;
}

.name h5 {
    font-size: 1rem;
    font-weight: bolder;
    margin-right: 0.2rem;
}

.name h6 {
    font-size: 0.9rem;
    color: rgb(101, 119, 134)
}

.tweet-header img.profile {
    border-radius: 1000px;
    width: 3rem;
    height: 3rem;
    margin-right: 0.5em;
}

.tweet-body {
    margin-bottom: 10px;
}

.tweet-medias .media {
    width: 100%;
    margin-bottom: 10px;
}


.hilight {
    color: rgba(29, 161, 242, 1.00);
}

.tweet .timestamp {
    font-size: 0.8em;
}
