html {
    font-size: 14px;
}
.nav-link{
    text-transform: capitalize;
}
.mod-btns-holder {
    margin: 30px 0;
    display: flex;
    justify-content: right;
}

.btn-mod {
    font-size: 0.8rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0;
    text-transform: uppercase;
}

body.approved .btn-approve {
    display: none;
}

body.rejected .btn-reject {
    display: none;
}

.btn-approve {
    margin-right: 10px;
}

.tweet {
    width: 300px;
}