<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>

    {% block style_scripts %}
    {% assets filters="libsass", output="gen/styles.css", "styles.scss" %}
    <link rel="stylesheet" href="{{ASSET_URL}}">
    {% endassets %}

    {% assets output="gen/app-min.js", "app.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% endblock style_scripts %}
</head>

<body>
    {%block content %}

    {% endblock %}
    {% block footer %}
    {% endblock footer %}
</body>

</html>