{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="program-list w-50 mx-auto">
        <h2 class="text-center py-4">Your Programs</h2>
        {% for p in programs %}
        <div class="program-entry row">
            <div class="col-6">{{p.name}}</div>
            <div class="col-3"><a href="{{url_for('program_settings',pid=p.id)}}">Moderate</a></div>
            <div class="col-3"><a href="{{url_for('program_settings',pid=p.id)}}">Settings</a></div>
        </div>
        {% endfor %}
        <form class="narrow" id="new-program" onsubmit="return createProgram()">
            <div class="form-group">
                <label class="label" for="program-name">Program Name</label>
                <input type="text" class="form-control" id="program-name" name="program-name" required minlength="3" />
            </div>
            <input class="btn btn-primary btn-sm mx-auto d-block" type="submit" value="Submit" />
        </form>
        <button class="btn btn-primary btn-sm mx-auto d-block" onclick="showNewProgramForm(this)">Create New Program</button>
    </div>
</div>
{% endblock %}