{% extends 'base.html' %}
{% block title %}DOOH TWEETS{% endblock title %}
{% block style_scripts %}
{% assets filters="libsass", output="gen/styles.css", "styles.scss" %}
<link rel="stylesheet" href="{{ASSET_URL}}">
{% endassets %}

{% assets output="gen/app-min.js", "app.js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% endblock style_scripts %}
{%block content %}
<div class="nav-btns text-center my-4">
    <button class="btn btn-primary mr-2" onclick="getEntries('pending')">Pending Entries</button>
    <button class="btn btn-primary mr-2" onclick="getEntries('approved')">Approved Entries</button>
    <button class="btn btn-primary mr-2" onclick="getEntries('rejected')">Rejected Entries</button>
</div>
<div class="entries-holder container"></div>
{% endblock %}
{% block footer %}
<script>
    initModeration();
</script>
{% endblock footer %}