{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h4 class="text-center">Program Settings</h4>

    <form onsubmit="return saveProgramSettings()" class="narrow mx-auto">
        <div class="form-group">
            <label for="api_key">Program name</label>
            <input type="text" id="name" name="name" class="form-control" value="{{p.name}}" />
        </div>
        <div class="form-group">
            <label for="api_key">API Key</label>
            <input id="api_key" name="api_key" type="text" class="form-control" disabled value="{{p.api_key}}" />
        </div>
        <div class="form-group">
            <label for="api_secret">API Secret</label>
            <input type="text" id="api_secret" name="api_secret" class="form-control" disabled value="{{p.api_secret}}" />
        </div>
        <div class="form-group form-check">
            <label for="auto_approve" class="form-check-label">
                <input type="checkbox" name="auto_approve" id="auto_approve" class="form-check-input" />
                Automatically approve tweets</label>
        </div>
        <div class="form-group">
            <label for="html">HTML</label>
            <textarea id="html" name="html" class="form-control">{{p.html or ''}}</textarea>
        </div>
        <div class="form-group">
            <label for="js">JavasScript</label>
            <textarea id="js" name="js" class="form-control">{{p.html or ''}}</textarea>
        </div>
        <div class="form-group">
            <label for="css">css</label>
            <textarea id="css" name="css" class="form-control">{{p.html or ''}}</textarea>
        </div>
        <div class="form-group">
            <label>Image Assets</label>
            <div class="row">
                {% for image in p.images_list %}
                <div class="col-4">
                    <img src="{{image}}" />
                    <button class="btn btn-danger">Delete</button>
                </div>
                {% endfor %}
            </div>
            {% if not p.images %}
            <div class="alert alert-warning text-center">No images uploaded yet</div>
            {% endif %}
        </div>
        <input class="btn btn-primary" type="submit" value="Save" />

    </form>
</div>
{% endblock %}