<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Spotify</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% assets filters="libsass", output="gen/spotify.css", "spotify.scss" %}
    <link rel="stylesheet" href="{{ASSET_URL}}">
    {% endassets %}
</head>

<body>
    <div class="wrap">
        <div class="mask">
        </div>
    </div>
    <div class="preload"></div>

    {% assets output="gen/spotify-min.js", "spotify.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>

</html>