.tos-btn {
    color: white;
    border: none;
    background: #5D9BDA;
    font-family: system-ui;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    position: absolute;
    width:120px;
    right: 0;
    bottom: 7px;
    transition-duration: 0.3s;
    transition-property: background;
    border-radius: 5em 0 0 5em;
}

.tos-btn.normal:hover {
    cursor: pointer;
    background: #87b5e3;
}

.tos-btn.pending {
    background: #94958C;
}

.tos-btn.rejected {
    background: #B45355;
}

.tos-btn.approved {
    background: #3CC861;
}

.tos-btn::before {
    content: "Shortlist This";
}

.tos-btn.pending::before {
    content: "Pending";
}

.tos-btn.rejected::before {
    content: "Rejected";
}

.tos-btn.approved::before {
    content: "Approved";
}
