.dooh-btn {
    color: white;
    border: none;
    background: #5D9BDA;
    font-family: system-ui;
    padding: 5px 10px;
    font-size: 14px;
    position: absolute;
    right: 0;
    bottom: 10px;
    width: 140px;
}

.dooh-btn.normal:hover {
    cursor: pointer;
    color: #243649;
}

.dooh-btn.pending {
    background: #94958C;
}

.dooh-btn.rejected {
    background: #B45355;
}

.dooh-btn.approved {
    background: #3CC861;
}

.dooh-btn::before {
    content: "Shortlist This";
}

.dooh-btn.pending::before {
    content: "Pending";
}

.dooh-btn.rejected::before {
    content: "Rejected";
}

.dooh-btn.approved::before {
    content: "Approved";
}